@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	max-width: 400px;
	overflow: hidden;
	margin: 0 auto;
}

* * * {
	border: 1px solid rgb(0, 0, 0);
}

@layer base {
	:root {
		--background: 250 30% 100%;
		--foreground: 250 75% 4%;
		--muted: 220 40% 86%;
		--muted-foreground: 220 9% 36%;
		--popover: 250 30% 100%;
		--popover-foreground: 250 75% 4%;
		--card: 0 0% 99%;
		--card-foreground: 250 75% 3%;
		--border: 250 15% 90%;
		--input: 250 15% 90%;
		--primary: 250 100% 53%;
		--primary-foreground: 0 0% 100%;
		--secondary: 220 100% 53%;
		--secondary-foreground: 0 0% 100%;
		--accent: 45.18 100% 50%;
		--accent-foreground: 0 0% 0%;
		--destructive: 8 90% 30%;
		--destructive-foreground: 8 90% 90%;
		--ring: 250 100% 53%;
		--chart-1: 250 100% 53%;
		--chart-2: 220 100% 53%;
		--chart-3: 45.18 100% 50%;
		--chart-4: 220 100% 56%;
		--chart-5: 250 103% 53%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 250 42% 0%;
		--foreground: 250 19% 98%;
		--muted: 220 40% 14%;
		--muted-foreground: 220 9% 64%;
		--popover: 250 42% 0%;
		--popover-foreground: 250 19% 98%;
		--card: 0 0% 1%;
		--card-foreground: 250 19% 99%;
		--border: 250 15% 13%;
		--input: 250 15% 13%;
		--primary: 250 100% 53%;
		--primary-foreground: 0 0% 100%;
		--secondary: 220 100% 53%;
		--secondary-foreground: 0 0% 100%;
		--accent: 45.28 100% 50%;
		--accent-foreground: 0 0% 0%;
		--destructive: 8 90% 49%;
		--destructive-foreground: 0 0% 100%;
		--ring: 250 100% 53%;
		--chart-1: 250 100% 53%;
		--chart-2: 220 100% 53%;
		--chart-3: 45.28 100% 50%;
		--chart-4: 220 100% 56%;
		--chart-5: 250 103% 53%;
	}
}
